Options -indexes

#AddType application/x-httpd-php5 .pdf

RewriteEngine on
RewriteRule ^login/?$                   login.php
RewriteRule ^logout/?$                  logout.php
RewriteRule ^sms/?$                     sms.php
RewriteRule ^print.pdf                  print.php
RewriteRule ^shuffle/?$                 index.php?shuffle
RewriteRule ^shuffle/confirmed/?$       index.php?shuffle&confirmed
RewriteRule ^clear/?$                   index.php?clear
RewriteRule ^clear/confirmed/?$         index.php?clear&confirmed
RewriteRule ^add/?$                     add.php
RewriteRule ^spoon/([^/.]+)/?$          index.php?spoon=$1
RewriteRule ^revive/([^/.]+)/?$         index.php?revive=$1