body {
  padding: 20px 0px !important;
  font-size: 18px;
  line-height: 24px;
  overflow-x: hidden;
  /* disable text highlight */
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor:default;
}
a, a:hover, strong {
  color: #79ad36;
  font-weight: bold;
}
small {
  font-size: 14px;
}
.nav-pills {
  font-size:16px;
}
.nav-pills .active a, .nav-pills .active a:hover {
  background-color: #79ad36;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.footer {
  font-size: 13px;
  line-height: 40px;
}
td {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
}